body{
	font-family: 'Century Gothic',helvetica,verdana,arial;
	background: url("../img/w1.jpg.xhtml?ln=template") no-repeat center center fixed;
	background-size: cover;
	margin:0;
       
}

.bottom-space{
	margin-bottom: 2em;
}

.top-space{
	margin-top: 1em;
}

.box{
	padding: 2em;
	border-radius: 15px;
	background-color: rgba(51, 51, 51, 0.7);

}

#page_wrapper{
	margin: 1em;
	min-width: 700px;
}

#footer{
	text-align: center;
}
.centered-menubar {
    text-align: center;
    width: 100%;
}
.centered-menubar .ui-menuitem {
    display: inline-block;
    text-align: center;
}
.centered-menubar .ui-menuitem {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    background-color: rgba(51, 51, 51, 0.7); /* Domyślne ciemne tło */
    border-radius: 25px;
    margin: 0 100px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Dodanie płynnego przejścia na tło i efekt transformacji */
}

.centered-menubar .ui-menuitem:hover {
  background: linear-gradient(to right, rgba(100, 100, 255, 0.8), rgba(255, 100, 100, 0.8));
  transform: scale(1.05); /* Efekt powiększenia przy najechaniu */
}




